tools/nodered-flow.json
[{"id":"safe-export-tab","type":"tab","label":"Safe Export Predictor","disabled":false,"info":"Runs at 6pm daily. Reads HA sensors, applies the four-zone model, and writes results to HA input_number / input_text helpers."},{"id":"trigger-6pm","type":"inject","z":"safe-export-tab","name":"6pm daily","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["get-temp"]]},{"id":"trigger-manual","type":"inject","z":"safe-export-tab","name":"Manual trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":160,"wires":[["get-temp"]]},{"id":"get-temp","type":"api-current-state","z":"safe-export-tab","name":"Get overnight temp","server":"e16dd2e.15c043","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.overnight_forecast_temp_mean","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"temp","propertyType":"msg","value":"number","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":100,"wires":[["get-humidity"]]},{"id":"get-humidity","type":"api-current-state","z":"safe-export-tab","name":"Get overnight humidity","server":"e16dd2e.15c043","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.overnight_forecast_humidity_mean","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"humidity","propertyType":"msg","value":"number","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":540,"y":100,"wires":[["get-solcast"]]},{"id":"get-solcast","type":"api-current-state","z":"safe-export-tab","name":"Get Solcast tomorrow","server":"e16dd2e.15c043","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.solcast_pv_forecast_forecast_tomorrow","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"solcast_kwh","propertyType":"msg","value":"number","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":760,"y":100,"wires":[["get-soc"]]},{"id":"get-soc","type":"api-current-state","z":"safe-export-tab","name":"Get battery SOC","server":"e16dd2e.15c043","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.byd_battery_box_premium_hv_state_of_charge","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"soc","propertyType":"msg","value":"number","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":980,"y":100,"wires":[["get-minsoc"]]},{"id":"get-minsoc","type":"api-current-state","z":"safe-export-tab","name":"Get min SOC cutoff","server":"e16dd2e.15c043","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.byd_battery_box_premium_hv_soc_minimum","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"minSoc","propertyType":"msg","value":"number","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1200,"y":100,"wires":[["calc-model"]]},{"id":"catch-sensor-errors","type":"catch","z":"safe-export-tab","name":"Catch sensor read errors","scope":["get-temp","get-humidity","get-solcast","get-soc","get-minsoc","calc-model"],"uncaught":false,"x":200,"y":180,"wires":[["catch-error-result"]]},{"id":"catch-error-result","type":"function","z":"safe-export-tab","name":"Build fail-closed result","func":"// Runs when a \"Get …\" node throws (e.g. entity_id does not exist) or the model\n// node itself throws. A caught error message carries none of msg.temp/soc/etc.,\n// so this builds the same zeroed shape as calc-model's isNaN fail-closed branch\n// from scratch — see tools/nodered-flow.json \"Four-zone model\" node and CLAUDE.md.\nconst CONF_KEYS = [\"p50\", \"p75\", \"p90\", \"p95\"];\n\nconst reason = `Node error: ${msg.error && msg.error.message ? msg.error.message : \"unknown error\"}`;\nnode.error(reason, msg);\n\nconst zeroResult = { safe_export: 0, consumption: 0, buffer: 0, total_needed: 0, grid_needed: 0 };\nconst results = {};\nfor (const key of CONF_KEYS) results[key] = { ...zeroResult };\n\nmsg.result = {\n    zone: \"error\",\n    temp: null,\n    humidity: null,\n    solcast_kwh: null,\n    soc: null,\n    min_soc: null,\n    available_kwh: 0,\n    model_info: reason,\n    reason,\n    ...results,\n    updated_at: new Date().toISOString(),\n};\nmsg.payload = 0;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":240,"wires":[["set-export-number","prep-json-text","debug-output"]]},{"id":"calc-model","type":"function","z":"safe-export-tab","name":"Four-zone model","func":"// \u2500\u2500 Model coefficients \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst BATTERY_KWH = 13.8;\n\n// Heating zone (temp < 17\u00b0C)\nconst H      = { b0: 22.5759, b1: -0.9593, b2: -0.016243 };\nconst H_P95  = 2.649;\n\n// Heating zone fallback (Solcast unavailable): temp-only OLS\nconst H_TEMP_ONLY = { b0: 22.4741, b1: -1.0043 };\n\n// Warm boundary zone (17\u201319\u00b0C): empirical percentile table\nconst WARM = { p50: 5.979, p75: 6.808, p90: 7.783, p95: 8.783 };\n\n// Mild zone (19\u201321\u00b0C): empirical percentile table\nconst MILD = { p50: 6.796, p75: 7.840, p90: 8.514, p95: 9.002 };\n\n// Cooling zone (temp > 21\u00b0C)\nconst C      = { b0: -9.6822, b1: 0.7163, b2: 0.028676 };\nconst C_P95  = 2.431;\n\n// Cooling zone fallback (humidity unavailable): temp-only OLS\nconst C_TEMP_ONLY = { b0: -5.1760, b1: 0.5965 };\n\n// Floor on the OLS point estimate (heating/cooling zones only) \u2014 mirrors\n// src/model.py MIN_CONSUMPTION_KWH. Keep in sync (see CLAUDE.md).\nconst MIN_CONSUMPTION_KWH = 1;\n\n// Confidence levels: fraction of P95 buffer to apply\nconst CONF = [\n    { key: \"p50\", label: \"P50\", scale: 0.33 },\n    { key: \"p75\", label: \"P75\", scale: 0.58 },\n    { key: \"p90\", label: \"P90\", scale: 0.88 },\n    { key: \"p95\", label: \"P95\", scale: 1.00 },\n];\n\n// \u2500\u2500 Inputs \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst temp       = parseFloat(msg.temp);\nconst humidity   = parseFloat(msg.humidity);\nconst solcastKwh = parseFloat(msg.solcast_kwh);\nconst soc        = parseFloat(msg.soc);\nconst minSoc     = parseFloat(msg.minSoc);\n\n// \u2500\u2500 Fail closed: temp/soc/minSoc are hard-required. Solcast and humidity\n// are soft-required \u2014 missing either falls back to a temp-only model\n// variant instead of failing (mirrors src/model.py _predict_consumption).\nif ([temp, soc, minSoc].some(isNaN)) {\n    const reason = \"One or more required sensor values (temp, soc, minSoc) are unavailable or NaN\";\n    node.error(reason, msg);\n\n    const zeroResult = { safe_export: 0, consumption: 0, buffer: 0, total_needed: 0, grid_needed: 0 };\n    const results = {};\n    for (const conf of CONF) results[conf.key] = { ...zeroResult };\n\n    msg.result = {\n        zone: \"error\",\n        temp: isNaN(temp) ? null : temp,\n        humidity: isNaN(humidity) ? null : humidity,\n        solcast_kwh: isNaN(solcastKwh) ? null : solcastKwh,\n        soc: isNaN(soc) ? null : soc,\n        min_soc: isNaN(minSoc) ? null : minSoc,\n        available_kwh: 0,\n        model_info: reason,\n        reason,\n        ...results,\n        updated_at: new Date().toISOString(),\n    };\n    msg.payload = 0;\n    return msg;\n}\n\n// \u2500\u2500 Zone determination \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nlet zone;\nif (temp < 17)       zone = \"heating\";\nelse if (temp < 19)  zone = \"warm_boundary\";\nelse if (temp <= 21) zone = \"mild\";\nelse                 zone = \"cooling\";\n\n// \u2500\u2500 Per-zone base consumption and P95 buffer (kWh internally) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nlet baseConsumption, p95Buffer, modelInfo, empiricalTable;\n\nif (zone === \"heating\") {\n    if (!isNaN(solcastKwh)) {\n        baseConsumption = H.b0 + H.b1 * temp + H.b2 * solcastKwh;\n        p95Buffer       = H_P95;\n        empiricalTable  = null;\n        modelInfo       = `Heating (<17\u00b0C): ${H.b0} + (${H.b1}\u00d7${temp}) + (${H.b2}\u00d7${solcastKwh.toFixed(1)}kWh)`;\n    } else {\n        baseConsumption = H_TEMP_ONLY.b0 + H_TEMP_ONLY.b1 * temp;\n        p95Buffer       = H_P95;\n        empiricalTable  = null;\n        modelInfo       = `Heating temp-only (<17\u00b0C, no Solcast): ${H_TEMP_ONLY.b0} + (${H_TEMP_ONLY.b1}\u00d7${temp})`;\n    }\n\n} else if (zone === \"warm_boundary\") {\n    empiricalTable  = WARM;\n    p95Buffer       = 0;\n    modelInfo       = `Warm boundary (17\u201319\u00b0C): empirical percentile table`;\n\n} else if (zone === \"mild\") {\n    empiricalTable  = MILD;\n    p95Buffer       = 0;\n    modelInfo       = `Mild (19\u201321\u00b0C): empirical percentile table`;\n\n} else {\n    if (!isNaN(humidity)) {\n        baseConsumption = C.b0 + C.b1 * temp + C.b2 * humidity;\n        p95Buffer       = C_P95;\n        empiricalTable  = null;\n        modelInfo       = `Cooling (>21\u00b0C): ${C.b0} + (${C.b1}\u00d7${temp}) + (${C.b2}\u00d7${humidity}%)`;\n    } else {\n        baseConsumption = C_TEMP_ONLY.b0 + C_TEMP_ONLY.b1 * temp;\n        p95Buffer       = C_P95;\n        empiricalTable  = null;\n        modelInfo       = `Cooling temp-only (>21\u00b0C, no humidity): ${C_TEMP_ONLY.b0} + (${C_TEMP_ONLY.b1}\u00d7${temp})`;\n    }\n}\n\n// \u2500\u2500 Compute result for each confidence level \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst availableKwh = ((soc - minSoc) / 100) * BATTERY_KWH;\nconst results = {};\n\nfor (const conf of CONF) {\n    let consumption, buffer;\n\n    if (empiricalTable) {\n        consumption = empiricalTable[conf.key];\n        buffer      = 0;\n    } else {\n        buffer      = p95Buffer * conf.scale;\n        consumption = Math.max(MIN_CONSUMPTION_KWH, baseConsumption);\n    }\n\n    const totalNeeded = consumption + buffer;\n    const gridNeeded  = Math.max(0, totalNeeded - availableKwh);\n    const exportableWh = Math.round(Math.max(0, availableKwh - totalNeeded) * 1000);\n\n    results[conf.key] = {\n        consumption:    parseFloat(consumption.toFixed(3)),\n        buffer:         parseFloat(buffer.toFixed(3)),\n        total_needed:   parseFloat(totalNeeded.toFixed(3)),\n        grid_needed:    parseFloat(gridNeeded.toFixed(3)),\n        safe_export: exportableWh,\n    };\n}\n\n// \u2500\u2500 Build output message \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nmsg.result = {\n    zone,\n    temp,\n    humidity:      isNaN(humidity) ? null : humidity,\n    solcast_kwh:   isNaN(solcastKwh) ? null : solcastKwh,\n    soc,\n    min_soc:       minSoc,\n    available_kwh: parseFloat(availableKwh.toFixed(3)),\n    model_info:    modelInfo,\n    ...results,\n    updated_at:      new Date().toISOString(),\n};\n\n// Primary export value: P50 in Wh\nmsg.payload = results.p50.safe_export;\n\nnode.log(`Zone: ${zone} | Temp: ${temp}\u00b0C | SOC: ${soc}% | P50 export: ${results.p50.safe_export} Wh (avail: ${availableKwh.toFixed(2)} kWh)`);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":280,"wires":[["set-export-number","prep-json-text","debug-output"]]},{"id":"set-export-number","type":"api-call-service","z":"safe-export-tab","name":"Set safe_export_wh (P50)","server":"e16dd2e.15c043","version":7,"debugenabled":false,"action":"input_number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_number.safe_export_wh"],"labelId":[],"data":"{\"value\": payload}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_number","service":"set_value","x":500,"y":240,"wires":[[]]},{"id":"prep-json-text","type":"function","z":"safe-export-tab","name":"Prep JSON for input_text","func":"// input_text max length is 255 chars \u2014 keep it tight\nconst r = msg.result;\nconst compact = {\n  zone: r.zone,\n  temp: r.temp,\n  soc: r.soc,\n  avail_kwh: r.available_kwh,\n  needed_kwh: r.p50.total_needed,\n  p50: r.p50.safe_export,\n  p75: r.p75.safe_export,\n  p90: r.p90.safe_export,\n  p95: r.p95.safe_export,\n  at: r.updated_at,\n};\nmsg.payload = JSON.stringify(compact);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":320,"wires":[["set-result-text"]]},{"id":"set-result-text","type":"api-call-service","z":"safe-export-tab","name":"Set safe_export_detail (JSON)","server":"e16dd2e.15c043","version":7,"debugenabled":false,"action":"input_text.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_text.safe_export_detail"],"labelId":[],"data":"{\"value\": payload}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_text","service":"set_value","x":760,"y":320,"wires":[[]]},{"id":"debug-output","type":"debug","z":"safe-export-tab","name":"Debug result","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"result","targetType":"msg","statusVal":"payload","statusType":"msg","x":500,"y":400,"wires":[]},{"id":"e16dd2e.15c043","type":"server","name":"Home Assistant","version":6,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":["y","yes","true","on","home","open"],"connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"e9d7f874d7d29df5","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.80.3"}}]